* {
  box-sizing: border-box;
  margin: 0%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
}

h3 {
  border: 3px solid black;
  width: 150px;
  text-align: center;
  float: right;
  position: relative;
  left: 21px;
  bottom: 1px;
}

h3#chicken {
  background-color: yellowgreen;
}

h3#beef {
  background-color: magenta;
}

h3#pork {
  background-color: deepskyblue;
}

div.wrapper {
  padding: 20px;
}

div.para {
  background-color: mistyrose;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
}

div.main {
  padding: 5px;
}

p {
  clear: both;
}

@media (min-width: 992px) {
  
  .p1, .p2, .p3 {
  width: 33.33%;
  float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .p1, .p2 {
    width: 50%;
    float: left;
  }
  
  .p3 {
    width: 100%;
    float: left;
  }
}